<div class="package-card basis-[5.625rem] flex gap-4 items-center">
	<div class="min-w-0 flex-auto">
		<a class="package-card__title mb-1 block font-bold text-medium text-primary overflow-hidden whitespace-nowrap overflow-ellipsis"
			href="/package/@pkg.name">
			@pkg.name
		</a>
		<p
			class="package-card__description mb-2 block text-small text-sub overflow-hidden whitespace-nowrap overflow-ellipsis">
			@pkg.description
		</p>
		<div class="flex gap-4 items-center text-sub font-bold overflow-hidden">
			<div class="package-card__stars flex gap-2 whitespace-nowrap">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
					<use href="#star_icon"></use>
				</svg>
				@pkg.stars
			</div>
			<div class="package-card__last-update flex gap-2 whitespace-nowrap">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
					<use href="#download_icon"></use>
				</svg>
				@pkg.downloads
			</div>
		</div>
	</div>
	<a class="package-card__chevron text-primary" href="/package/@pkg.name" tabindex="-1">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
			<use href="#chevron_right_icon"></use>
		</svg>
	</a>
</div>
