@import 'colors';

$base-content-width: 960px;

/* Specify box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Removing internal indentations */
ul[class],
ol[class] {
  padding: 0;
}

/* Removing the outside indentation */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set default settings for body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove the standard styling for all ul and il that have the class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Elements a that have no class are reset to default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Making it easier to work with images */
img {
  max-width: 100%;
  display: block;
}

/* Specify an understandable periodicity in the data flow */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for intuitions and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people who would rather not use them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  font-family: 'Fira Sans', 'Source Sans Pro', 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $text-color;
}