$header-color: #3A3D3F;
$text-color: #4E5355;
$dimmed-text-color: #8F95A3;
$darker-text-color: #6A6E7A;
$accent-color: #77B5F6;
$on-accent-color: #FFFFFF;
$panel-color: #F6F8FA;
$v-color: #4078C0;
$bg-color: #FFFFFF;