@import 'base';
@import 'colors';

.header {
  width: 100%;
  height: 80px;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
  background: $bg-color;

  .inner {
    display: flex;
    height: 80px;
    margin: 0 auto;
    max-width: $base-content-width;
    align-items: center;
    justify-content: space-between;

    #logo {
      display: block;
      width: fit-content;
      height: 64px;
      flex: 0 0 180px;

      img {
        margin: 0 auto;
      }
    }

    #search-bar {
      padding: 0 12px;
      max-width: 420px;
      width: 100%;
      height: 52px;
      display: flex;
      align-items: center;
      background-color: $panel-color;
      border-radius: 5px;

      img {
        margin-right: 10px;
      }

      &-input {
        padding: 0;
        flex: 1 1 420px;
        border: none;
        background-color: transparent;
        font-weight: 500;
        font-size: 16px;
        color: $dimmed-text-color;

        &::placeholder {
          color: $dimmed-text-color;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .account {
      flex: 0 0 180px;

      .login-button {
        display: block;
        text-align: center;
        text-decoration: none;
        color: $darker-text-color;

        &:hover {
          text-decoration: underline;
          color: $text-color;
        }
      }
    }
  }
}

.content {
  margin: 0 auto;
  padding: 30px 20px 15px;
  max-width: $base-content-width;
  width: 100%;

  & > *:not(:last-child){
    margin-bottom: 48px;
  }
}

.title span{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  color: $header-color;

  #v-letter {
    font-weight: 900;
    color: $v-color;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    margin-right: 32px;
  }
}

.packages-nr-info {
  span {
    font-weight: 500;
    font-size: 18px;
    color: $darker-text-color;
  }

  .highlight {
    font-weight: 700;
    color: $header-color;
  }
}

.button {
  padding: 8px 26px 8px 20px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $accent-color;
  border-radius: 5px;
  text-decoration: none;
  
  .icon {
    margin-right: 8px;
  }

  span {
    font-weight: 700;
    color: $on-accent-color;
  }
}