@import 'base';
@import 'colors';

.header {
  width: 100%;
  height: 80px;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
  background: $bg-color;

  &#create-header {
    box-shadow: none;

    .inner {
      justify-content: center;
    }
  }

  .inner {
    display: flex;
    height: 80px;
    margin: 0 auto;
    max-width: $base-content-width;
    align-items: center;
    justify-content: space-between;

    #logo {
      display: block;
      width: fit-content;
      height: 64px;
      flex: 0 0 180px;

      img {
        margin: 0 auto;
      }
    }

    #search-bar {
      padding: 0 12px;
      max-width: 420px;
      width: 100%;
      height: 52px;
      display: flex;
      align-items: center;
      background-color: $panel-color;
      border-radius: 5px;

      img {
        margin-right: 10px;
      }

      &-input {
        padding: 0;
        flex: 1 1 420px;
        border: none;
        background-color: transparent;
        font-weight: 500;
        font-size: 16px;
        color: $dimmed-text-color;

        &::placeholder {
          color: $dimmed-text-color;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .account {
      flex: 0 0 180px;

      .login-button {
        display: block;
        text-align: center;
        text-decoration: none;
        color: $darker-text-color;

        &:hover {
          text-decoration: underline;
          color: $text-color;
        }
      }
    }
  }
}

.content {
  margin: 0 auto;
  padding: 30px 20px 15px;
  max-width: $base-content-width;
  width: 100%;
  display:flex;
  flex-direction: column;

  &.centered {
    height: 80vh;
    justify-content: center;
    align-items: center;
  }
}

.title {
  margin-bottom: 48px;
  max-width: 730px;

  span{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    color: $header-color;
  
    #v-letter {
      font-weight: 900;
      color: $v-color;
    }
  }
}

.row {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    margin-right: 32px;
  }
}

.packages-nr-info {
  span {
    font-weight: 500;
    font-size: 18px;
    color: $darker-text-color;
  }

  .highlight {
    font-weight: 700;
    color: $header-color;
  }
}

.button {
  padding: 8px 26px 8px 20px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $accent-color;
  border-radius: 5px;
  text-decoration: none;
  
  .icon {
    margin-right: 8px;
  }

  span {
    font-weight: 700;
    color: $on-accent-color;
  }
}

.packages {
  display: flex;
  flex-wrap: wrap;

  &-column {
    margin-bottom: 18px;
    padding: 0 15px;
    display: flex; 
    flex-direction: column;
    flex: 1 0 300px;

    & > * {
      margin-bottom: 8px;
    }

    & > span {
      font-weight: 700;
      font-size: 18px;
      line-height: 32px;
      color: $header-color;

      a {
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        color: $accent-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .package {
    padding-left: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $panel-color;
    text-decoration: none;

    &:hover {
      background-color: darken($panel-color, 5%);;
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        font-family: 'Source Sans Pro', sans-serif;
      }

      .name {
        line-height: 18px;
      }

      .version {
        font-size: 14px;
        line-height: 15px;
        color: $dimmed-text-color;
      }
    }
  }
}

.browse-header span {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: $header-color;
}

.browse-package {
  padding: 20px 0 20px 16px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:not(:last-child) {
    border-bottom: solid 2px $panel-color;
  }

  &-left {
    padding-right: 20px;
    flex: 1 1;
    display: flex;
    flex-direction: column;

    &-header {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      * {
        font-family: 'Source Sans Pro', sans-serif;
      }

      & > span {
        padding-bottom: 2px;
        font-weight: 600;
        font-size: 18px;
        color: $header-color;
      }

      &-version {
        margin-left: 14px;
        min-width: fit-content;
        flex: 0 0;
        display: flex;
        align-items: center;
        
        span {
          font-family: 'Fira Sans', 'Source Sans Pro', sans-serif;
          color: $darker-text-color;
        }

        #copy-button {
          margin-left: 7px;
          cursor: pointer;
        }
      }
    }

    &-description {
      font-size: 15px;
    }

    &-tags {
      display: flex;
      flex-wrap: wrap;

      a {
        margin-top: 10px;
        margin-right: 10px;
        padding: 4px 8px;
        display: block;
        background-color: $panel-color;
        border-radius: 5px;
        text-decoration: none;
        font-size: 15px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &-right {
    flex: 0 1 200px;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > div:not(:last-child) {
      margin-bottom: 10px;
    }

    & > div {
      display: flex;
      align-items: center;

      span:first-child {
        margin-right: 7px;
      }

      span:last-child {
        font-family: 'Fira Sans', 'Source Sans Pro', sans-serif;
        color: $darker-text-color;
      }
    }
  }

  &-arrow {
    padding-left: 45px;
    align-self: stretch;
    flex: 0 1 90px;
    display: flex;
    align-items: center;
  }
}