@use 'base';
@use 'colors';

.header {
  width: 100%;
  height: 60px;

  .inner {
    display: flex;

    #logo {
      display: block;
      width: fit-content;
      height: 60px;
    }

    .account {
      .login-button {
        display: block;
        text-align: center;
      }

      .new {
        
      }
    }
  }
}
