# Binary
/vpm
/cmd/cli/cli
/cmd/vpm/vpm
/test.bin

# IDE folders (but guys, seriously, add your ide folders to global .gitignore)
.idea
.vscode

# Config files
/config.toml

# Documentation
/_docs

# VLS log
/vls.log
