# Binary
/vpm
/vpm.sqlite
/test.bin

# temp folders
/temp
/tmp

# ide folders
.idea
.vscode
.lite_workspace.lua
*.code-workspace

# config files
/.env
/config.toml
/deploy.toml
/prod.toml
/dev.toml

# documentation
/_docs