@include 'header.html'

<section class="flex gap-4 flex-col items-start mx-auto">
    <h1>
        Package Manager for the <span class="text-primary">V</span> Language
    </h1>

    <p class="text-medium md:text-large text-sub">
        Discover new packages from open-source collaborators. Become a contributor and enhance our community with your
        work. It's all about exploring, learning, and growing together.
    </p>

    <div class="mt-6 w-full flex flex-col justify-start items-center md:flex-row gap-4 md:gap-8">
        <div class="flex flex-col justify-start items-center md:flex-row gap-4">
            <a class="button primary" href="/search">
                <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <use href="#browse_icon"></use>
                </svg>
                Browse packages
            </a>
            <a class="button primary" href="/new">
                <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <use href="#plus_icon"></use>
                </svg>
                Submit a package
            </a>
        </div>
        <span>@app.format_nr_packages()</span>
    </div>
</section>

<section>
    <h2 class="mb-4 font-bold text-center md:text-left">Popular categories</h2>
    <div class="panel">
        <div class=" flex flex-wrap gap-2 md:h-10 md:overflow-hidden md:justify-between">
            @for category in categories
            <a class="category flex-1 md:flex-none" href="/search?categories=@category.slug">
                @category.name
                @if category.packages > 0
                <sup>@category.packages</sup>
                @end
            </a>
            @end
        </div>
    </div>
</section>

<div class="grid grid-cols-1 gap-0" id="content-container">
    <div class="hidden content-selector relative z-[1] md:flex md:justify-center md:gap-12 ">
        <button class="content-section-btn" onclick="setActive(0)">New packages</button>
        <button class="content-section-btn" onclick="setActive(1)">Most downloaded</button>
        <button class="content-section-btn" onclick="setActive(2)">Recently updated</button>
        <span class="active-border"></span>
    </div>
    <!-- Select on mobile -->
    <section class="md:hidden content-selector relative z-[1] flex justify-center p-6 w-full">
        <select class="primary" id="mobile-content-selector" name="content-selector" onchange="onSelectChange()">
            <option selected value="0">New packages</option>
            <option value="1">Most downloaded</option>
            <option value="2">Recently updated</option>
        </select>
    </section>
    <section class="content-section ease " id="content-0">
        <div class="flex flex-col">
            @for pkg in app.new_packages
            @include './components/package.html'
            @end
        </div>
    </section>
    <section class="content-section ease pointer-events-none opacity-0" id="content-1">
        <div class="flex flex-col">
            @for pkg in app.most_downloaded_packages
            @include './components/package.html'
            @end
        </div>
    </section>
    <section class="content-section mease pointer-events-none opacity-0" id="content-2">
        <div class="flex flex-col">
            @for pkg in app.recently_updated_packages
            @include './components/package.html'
            @end
        </div>
    </section>
</div>

<script>
    const indicator = document.querySelector('span.active-border');
    const container = document.querySelector('#content-container');
    const mobileSelect = document.querySelector('#mobile-content-selector');

    let activeContentIndex = 0;
    let currentTimeout = 0;

    // change content in "new packages, most downloaded" sections
    function setActive(index, resizing) {
        const el = document.querySelector('.content-selector');
        const activeElement = el.children.item(index);

        indicator.style.width = (activeElement.clientWidth + 10) + 'px';
        indicator.style.left = (activeElement.offsetLeft - 5) + 'px';

        if (index != activeContentIndex || resizing) {
            window.clearTimeout(currentTimeout);

            const prev = document.querySelector('#content-' + activeContentIndex);
            prev.classList.add('opacity-0');
            prev.classList.add('pointer-events-none');
            // pretty css animation
            currentTimeout = window.setTimeout(() => {
                const current = document.querySelector('#content-' + index);
                current.classList.remove('opacity-0');
                current.classList.remove('pointer-events-none');

                activeContentIndex = index;
                mobileSelect.selectedIndex = index;
            }, 150);
        }
    }

    setActive(0)

    function onSelectChange() {
        const index = mobileSelect.selectedIndex;
        setActive(Number(index));
    }
</script>

@include 'footer.html'