@include 'header.html'

<div class="w-full md:p-0 md:w-[512px] md:mx-auto">
	<h1>
		Submit a package
	</h1>

	@if app.form_error.len>0
	<p>@app.form_error</p>
	@end

	@if !logged_in
	<a href='https://github.com/login/oauth/authorize?response_type=code&client_id=3c7c2836a3afa00cd79e'>
		Log in via GitHub
	</a>

	@else
	<form class="w-full flex flex-col gap-4 mt-4" action='/create_package' method='POST'>
		<input class="p-2 rounded-lg border border-light-grey" type='text' placeholder='Package name' required
			maxlength=10 pattern="[A-Za-z0-9]+" title="Only letters and numbers are allowed" name='name'>
		<input class="p-2 rounded-lg border border-light-grey" type='url' placeholder='GitHub URL' required
			maxlength=@max_package_url_len name='url' pattern='(https://github.com/)(.*?)'
			title='Only GitHub repositories are allowed for now'>
		<textarea class="p-2 rounded-lg border border-light-grey" name='description' rows="10"
			placeholder='Module description' required maxlength=800></textarea>
		<input class="button primary cursor-pointer" type='submit' value='Submit'>
	</form>
	@end
</div>

<!--
<div class="flex flex-col gap-4 panel">
	for pkg in results
	include '../components/search-entry.html'
	end
</div>
-->

@include 'footer.html'