@include 'partial/header.html'

<div class="flex flex-col xl:grid xl:grid-cols-3 gap-5">
    <div class="col-span-2 panel inactive flex flex-col">
        <!-- Buttons Row -->
        <div class="flex flex-wrap gap-4 h-fit justify-between w-full">
            <button
                class="button text-dark-grey whitespace-nowrap hover:no-underline bg-off-white flex gap-2 w-full md:w-fit"
                id="v-install-copy">
                <svg class="shrink-0" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <use href="#copy_icon"></use>
                </svg>
                v install @pkg.format_name()
            </button>
            @if pkg.documentation.len > 0
            <a class="button text-white whitespace-nowrap hover:no-underline bg-primary flex gap-2"
                href="$pkg.documentation" target="_blank">
                <svg class="shrink-0" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <use href="#docs_icon"></use>
                </svg>
                Documentation
            </a>
            @end
            <a class="button primary w-full md:w-fit" href="$pkg.url" target="_blank">
                <svg class="shrink-0" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <use href="#repo_icon"></use>
                </svg>
                Repository
            </a>
        </div>

        <!-- Markdown -->
        <div
            class="mt-8 prose prose-gray prose-h1:mt-6 prose-h1:mb-4 prose-p:mt-0 prose-p:mb-4 prose-ul:my-0 prose-li:my-0 prose-img:my-0 max-w-none">
            <style>
                h1,
                h2 {
                    padding-bottom: 0.3em;
                    border-bottom: 1px solid #f0f0f0;
                }

                ul:has(> .task-list-item) {
                    list-style-type: none;

                }

                /* .task-list-item {
                    transform: translateX(-1.5rem);
                } */

                .task-list-item-checkbox {
                    margin-right: .375rem;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            </style>
            @pkg_readme
        </div>
    </div>
    <div class="panel inactive xl:self-start flex flex-col gap-4">
        <div>
            @if ctx.is_able_to_edit(pkg)
            <div class="pb-2 flex flex-wrap gap-2">
                <a class="button text-dark-grey whitespace-nowrap hover:no-underline bg-off-white flex gap-2"
                    href="/packages/@pkg.name/edit">
                    <svg class="shrink-0" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <use href="#edit"></use>
                    </svg>
                    Edit
                </a>
                <a class="button text-white whitespace-nowrap hover:no-underline bg-error flex gap-2"
                    href="/packages/@pkg.name/delete">
                    <svg class="shrink-0" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <use href="#trash"></use>
                    </svg>
                    Delete
                </a>
            </div>
            @end
            <h3 class="mb-1 text-primary leading-8">About</h3>
            @if pkg.description.len > 0
            <p class="mb-2">
                @pkg.description
            </p>
            @end
            <div class="flex gap-4 items-center text-sub font-bold overflow-hidden">
                <div class="package-card__stars flex gap-2 whitespace-nowrap">
                    <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <use href="#star_icon"></use>
                    </svg>
                    @pkg.stars
                </div>
                <div class="package-card__downloads flex gap-2 whitespace-nowrap">
                    <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <use href="#download_icon"></use>
                    </svg>
                    @pkg.nr_downloads
                </div>
                <div class="package-card__last-update flex gap-2 whitespace-nowrap">
                    <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <use href="#clock_icon"></use>
                    </svg>
                    @pkg.updated_at.relative()
                </div>
            </div>
        </div>
        <div class="flex flex-wrap gap-2">
            @for category in categories
            <a class="category" href="/search?category=@category.slug">
                @category.name
            </a>
            @end
        </div>
        <div>
            <h3 class="mb-1 text-primary leading-8">Author</h3>
            <a href="/users/@pkg.author.username">
                <img alt="@pkg.author.username" class="w-8 h-8 rounded-full"
                    src="https://github.com/@{pkg.author.username}.png" />
            </a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/prism.css">
<script src="/js/prism.js"></script>
<script src="https://cdn.jsdelivr.net/npm/notyf@@3/notyf.min.js"></script>
<script>
    // Thing that creates notifications
    var notyf = new Notyf({
        duration: 3000,
        types: [{
            type: 'success',
            className: 'notification-toast',
            background: '#559FFF',
            icon: `
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
				<use href="#clipboard_icon"></use>
			</svg>
			`
        }]
    });

    var copyButton = document.querySelector('#v-install-copy');
    var cmdInstall = "v install @pkg.format_name()";

    copyButton.addEventListener('click', function (event) {
        navigator.clipboard.writeText(cmdInstall).then(function () {
            // Display a success notification
            notyf.success('Copied to clipboard!');
            console.log('Copied ' + cmdInstall + " to clipboard");
        }, function (err) {
            notyf.error('Failed copy :(');
            console.error('Failed to write clipboard: ', err);
        });
    });
</script>

@include 'partial/footer.html'
