@include 'header.html'

<div class="flex flex-col lg:grid lg:grid-cols-3 gap-5">
    <div class="col-span-2 panel inactive flex flex-col">
        <!-- Buttons Row -->
        <div class="flex flex-wrap gap-4 h-fit justify-between w-full">
            <button class="button text-dark-grey whitespace-nowrap hover:no-underline bg-off-white flex gap-2 w-full md:w-fit"
                    id="v-install-copy">
                <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <use href="#copy_icon"></use>
                </svg>
                v install @pkg.format_name()
            </button>
            @if pkg.documentation.len > 0
            <a class="button text-white whitespace-nowrap hover:no-underline bg-primary flex gap-2" href="$pkg.documentation"
               target="_blank">
                <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <use href="#docs_icon"></use>
                </svg>
                Documentation
            </a>
            @end
            <a class="button primary w-full md:w-fit" href="$pkg.url"
               target="_blank">
                <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <use href="#repo_icon"></use>
                </svg>
                Repository
            </a>
        </div>

        <!-- Markdown -->
        <div class="mt-8">
            <!--
                TODO README
                -->
        </div>
    </div>
    <div class="panel inactive flex flex-col gap-4">
        <div>
            <h3 class="mb-1 text-primary leading-8">About</h3>
            <div class="flex gap-4 items-center text-sub font-bold overflow-hidden">
                <div class="package-card__stars flex gap-2 whitespace-nowrap">
                    <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <use href="#star_icon"></use>
                    </svg>
                    @pkg.stars
                </div>
                <div class="package-card__last-update flex gap-2 whitespace-nowrap">
                    <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <use href="#download_icon"></use>
                    </svg>
                    @pkg.nr_downloads
                </div>
                <div class="package-card__last-update flex gap-2 whitespace-nowrap">
                    <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <use href="#clock_icon"></use>
                    </svg>
                    @pkg.updated_at.ymmdd()
                </div>
            </div>
        </div>
        <div class="flex flex-wrap gap-2">
            <!--
                for category in pkg.categories
                <a class="category" href="/search?categories=category.slug">category.slug</a>
                end
                -->
        </div>
        <div>
            <h3 class="mb-1 text-primary leading-8">Author</h3>
            <a href="/@pkg.author.username">
                <img alt="@pkg.author.username" class="w-8 h-8 rounded-full" src="@pkg.author.avatar_url"/>
            </a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/notyf@@3/notyf.min.js"></script>
<script>
    // Thing that creates notifications
    var notyf = new Notyf({
        duration: 3000,
        types: [{
            type: 'success',
            className: 'notification-toast',
            background: '#559FFF',
            icon: `
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
				<use href="#clipboard_icon"></use>
			</svg>
			`
        }]
    });

    var copyButton = document.querySelector('#v-install-copy');
    var cmdInstall = "v install @pkg.format_name()";

    copyButton.addEventListener('click', function (event) {
        navigator.clipboard.writeText(cmdInstall).then(function () {
            // Display a success notification
            notyf.success('Copied to clipboard!');
            console.log('Copied ' + cmdInstall + " to clipboard");
        }, function (err) {
            notyf.error('Failed copy :(');
            console.error('Failed to write clipboard: ', err);
        });
    });
</script>

@include 'footer.html'
