<!-- Styles -->
<script src="https://cdn.tailwindcss.com"></script>
<script>
	tailwind.config = {
		theme: {
			colors: {
				primary: '#559FFF',
				general: "#161616",
				grey: '#B6B6B6',
				'dark-grey': '#626262',
				'off-white': '#F0F0F0',
				sub: '#7A7A7A',
				night: '#161616',
				disabled: "#D9D9D9",
				white: "#FFFFFF",

				success: '#00BA88',
				error: '#FA3C6A',

				base: "#F7F7F7",

				transparent: "#00000000",
			},
			fontFamily: {
				sans: ['Mulish', 'Inter', 'Roboto', '"Noto Sans"', '"Open Sans"', '"Helvetica Neue"', '"Segoe UI"',
					'BlinkMacSystemFont', '-apple-system', 'Cantarell', 'Arial', 'sans-serif']
			},
			fontSize: {
				small: ['1', {
					lineHeight: '1.5rem',
				}],
				medium: ['1.25rem', {
					lineHeight: '1.875rem',
				}],
				large: ['1.5625rem', {
					lineHeight: '2.34375rem',
				}],
				'display-medium': ['2.375rem', {
					lineHeight: '2.375rem',
				}],
				'display-large': ['3rem', {
					lineHeight: '3rem',
				}],
			},
			extend: {
				width: {
					'page': '73.75rem',
				}
			},
		}
	}
</script>
<style type="text/tailwindcss">
	@layer base {
		:root {
			@apply font-sans font-semibold text-small text-general bg-base;
			scroll-behavior: smooth;
		}

		*:focus {
			@apply outline-offset-2;
		}

        *:focus-within {
            @apply outline-offset-2 outline-primary;
        }

        h1 {
            @apply font-bold text-display-medium text-general;
        }

        h2 {
            @apply font-bold text-large text-general;
        }

        h3 {
            @apply font-bold text-medium text-general;
        }

        a {
            @apply text-primary hover:underline;
        }
    }

    @layer components {
        .button {
            @apply block px-8 py-4 rounded-lg font-bold text-small;
        }

        .panel {
            @apply p-4 rounded-2xl border-[0.24rem] border-off-white border-solid bg-white;
            box-shadow: 0px 4px 16px rgba(17, 17, 17, 0.04);
        }

        .tag {
            @apply px-4 py-2 rounded-lg whitespace-nowrap font-bold text-dark-grey bg-off-white;
        }

        .tag sup {
            @apply ml-[0.065rem] leading-[0] text-[0.625rem] font-bold;
        }

        .footer-link {
            @apply text-sub hover:text-primary hover:no-underline;
        }
    }
</style>
