<footer class="flex-shrink-0 h-28 flex justify-center items-center bg-white border-t-2 border-solid border-off-white">
	<div class="px-4 w-page h-16 flex gap-4 justify-between font-bold text-medium">
		<div class="flex-1 flex gap-4 justify-start items-center" href="/">
			<a class="footer-link" rel="external" title="API Documentation" href="https://github.com/vlang/vpm">API</a>
			<a class="footer-link" rel="external" title="Documentation" href="https://github.com/vlang/vpm">Docs</a>
		</div>

		<div class="flex-1 flex gap-8 justify-center items-center">
			<a class="footer-link" rel="external" title="V Language Twitter" href="https://twitter.com/vlang">
				<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32">
					<use href="#twitter_icon"></use>
				</svg>
			</a>
			<a class="footer-link" rel="external" title="V Language Github Organisation" href="https://github.com/vlang">
				<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32">
					<use href="#github_icon"></use>
				</svg>
			</a>
			<a class="footer-link" rel="external" title="Join V Language Discord" href="https://discord.gg/vlang">
				<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32">
					<use href="#discord_icon"></use>
				</svg>
			</a>
		</div>

		<div class="flex-1 flex gap-4 justify-end items-center">
			<a class="footer-link" rel="external" title="Standart Library Documentation"
				href="https://modules.vlang.io">vlib</a>
			<a class="footer-link" rel="external" title="V Language Homepage" href="https://vlang.io">vlang.io</a>
		</div>
	</div>
</footer>
