<a id="package@pkg.id" class="package-card min-w-fit w-full" href="/mod/@pkg.name">
    <p class="package-card__title">@pkg.format_name()</p>
    <!--
    			@if app.package_belongs_to_cur_user(pkg)
    				<span class='btn_delete' onclick='delete_package(@pkg.id)'>❌</span>
    			@end
    			-->
    <p class="package-card__description mb-2 text-small text-sub overflow-ellipsis">
        @pkg.description<br>
    </p>
    <div class="flex gap-4 items-center text-sub font-bold overflow-hidden">
        <div class="package-card__stars flex gap-2 whitespace-nowrap">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                <use href="#star_icon"></use>
            </svg>
            @pkg.stars
        </div>
        <div class="package-card__last-update flex gap-2 whitespace-nowrap">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                <use href="#download_icon"></use>
            </svg>
            @pkg.downloads
        </div>
    </div>
    <!--
    		<a class="package-card__chevron text-primary" href="/@pkg.author.username/@pkg.name" tabindex="-1">
    			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
    				<use href="#chevron_right_icon"></use>
    			</svg>
    		</a>
    		-->
</a>
