<form class="flex basis-[36.25rem] rounded-lg focus-within:outline outline-offset-0 outline-2 bg-off-white h-12"
    action="/search">
    <label class="flex-1 px-5 py-2 box-border flex gap-4 items-center text-grey">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
            <use href="#search_icon"></use>
        </svg>
        <input class="flex-1 appearance-none focus:text-general focus:border-0 focus:outline-none bg-transparent"
            name="q" type="search" placeholder="Search" pattern="[A-Za-z0-9-.]{(1, 100)}"
            title="Must match rules of github repo naming">
    </label>
</form>