<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8" />
	<meta name="description" content="" />
	<link rel="icon" href="/favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
@include 'assets/styles.html'

<!--include 'components/meta.html'-->

<body>
	<div class="min-h-screen flex flex-col gap-20">

		@include 'components/header.html'

		<div class="px-4 flex-auto flex justify-center">
			<main class="w-page flex flex-col gap-12">




	<!--include 'assets/icons.html'-->

