<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>vpm</title>
	<meta name="description" content="V package manager">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#ffffff">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" href="/favicon.svg">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@@400;500;600;700&family=Source+Sans+Pro:wght@@400;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@@700;900&display=swap&text=Package Manager for the V Language" rel="stylesheet">
	<link rel="stylesheet" href="/vpm.css">
</head>
<body>

<header class="header">
  .inner {
    <a id="logo" href="/" aria-label="Homepage">
      <img src="/logo.svg" height="60" />
    </a>
    <label id="search-bar">
      <img src="/search.svg" width="34"/>
      <input id="search-bar-input" type="text" name="search" placeholder="Search packages....">
    </label>
		.account {
			@if app.logged_in
				<a class="new" href="/new">
					<img src="/new.svg" height="32" />
				</a>
				.avatar {
					@if app.user.b_avatar
						<img src="@app.user.avatar">
					@else
						<span>@app.user.avatar</span>
					@end
				}
				.header-dropdown {
					.username {
						<span>Signed in as</span>
						<a href="/@app.user.username">@app.user.username</a>
					}
					.links {
						<a href="/@app.user.username/modules" class="link">Modules</a>
						<a href="/@app.user.username/settings" class="link">Settings</a>
						@if app.user.is_admin
							<a href="/admin" class="link">Admin Panel</a>	
						@end
					}
					.links {
						<a href="/logout" class="link">Sign out</a>
					}
					<div class="dropdown-hoverzone"></div>
				}
			@else
				<a class="login-button" href="/login">Log in with GitHub</a>
			@end
		}
	}
</header>

<script>
  const search = document.getElementById("search-bar-input");
  search.addEventListener("keypress", (ev) => {
    if (ev.keyCode == 13) {
      ev.preventDefault();
      const query = search.value;
      windows.location.href = "/browse?search=" + query;
    }
  });
</script>