@include 'header.html'

<script>
function delete_package(package_id) {

	fetch("/delete_package/" + package_id, {
  method: "POST",
  headers: {'Content-Type': 'application/json'},
}).then(res => {
	window.location.reload();
	//document.getElementById('package' + package_id).remove() ;
});
}
</script>

<header class="flex gap-4 flex-col">
	<h1 class="text-display-large font-bold">
		Package Manager for the <span class="text-primary">V</span> Language
	</h1>

	<p class="text-large text-sub">
		Instantly publish your packages and install them. Become a contributor and enhance our community with your work.
		Use the API to interact and find out more information about available packages.
	</p>
</header>

<div class="flex gap-8 items-center">
	<div class="flex gap-4"><a href="/search"
			class="button text-white hover:bg-[#4887D9] focus:bg-[#4078BF] hover:no-underline bg-primary flex gap-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
				<use href="#browse_icon"></use>
			</svg>
			Browse packages
		</a>
		<a href="/new"
			class="button text-white hover:bg-[#4887D9] focus:bg-[#4078BF] hover:no-underline bg-primary flex gap-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
				<use href="#plus_icon"></use>
			</svg>
			Submit a package
		</a>
	</div>
	<span>@app.format_nr_packages()</span>
</div>

<div>
	<h2 class="mb-4 text-large font-bold">Your packages</h2>
	<div class="flex flex-col gap-4 panel">
		@for pkg in your_packages
		@include './components/package-card.html'
		@end
	</div>
</div>

<div>
	<h2 class="mb-4 text-large font-bold">Popular categories</h2>
	<div class="flex flex-wrap gap-2 panel">
		@for category in categories
		<a class="category" href="/search?categories=@category.slug">@category.slug<sup>@category.packages</sup></a>
		@end
	</div>
</div>

<div>
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 justify-between">
		<div class="flex-auto">
			<h2 class="mb-4 text-large font-bold">New packages</h2>
			<div class="flex flex-col gap-4 panel">
				@for pkg in app.new_packages
				@include './components/package-card.html'
				@end
			</div>
		</div>
		<div class="flex-auto">
			<h2 class="mb-4 text-large font-bold">Most downloaded</h2>
			<div class="flex flex-col gap-4 panel">
				@for pkg in app.most_downloaded_packages
				@include './components/package-card.html'
				@end
			</div>
		</div>
		<div class="flex-auto">
			<h2 class="mb-4 text-large font-bold">Recently updated</h2>
			<div class="flex flex-col gap-4 panel">
				@for pkg in app.recently_updated_packages
				@include './components/package-card.html'
				@end
			</div>
		</div>
	</div>
</div>

@include 'footer.html'
