@include 'partial/header.html'

<section class="flex gap-4 flex-col items-start mx-auto">
    <h1>
        Package Manager for the <span class="text-primary">V</span> Language
    </h1>

    <p class="text-medium md:text-large text-sub">
        Discover new packages from open-source collaborators. Become a contributor and enhance our community with your
        work. It's all about exploring, learning, and growing together.
    </p>

    <div class="mt-6 w-full flex flex-col justify-start items-center sm:flex-row gap-4 sm:gap-8">
        <div class="flex flex-col justify-start items-center min-[530px]:flex-row gap-4">
            <a class="button primary" href="/search">
                <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <use href="#browse_icon"></use>
                </svg>
                Browse packages
            </a>
            <a class="button primary" href="/new">
                <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <use href="#plus_icon"></use>
                </svg>
                Submit a package
            </a>
        </div>
        <span>@app.nr_pkgs()</span>
    </div>
</section>

<section>
    <h2 class="mb-4">Popular categories</h2>
    <div class="panel">
        <div class=" flex flex-wrap gap-2 lg:h-10 lg:overflow-hidden lg:justify-between">
            @for category in app.categories
            <a class="category flex-1" href="/search?category=@category.slug">
                @category.slug
                @if category.packages > 0
                <sup>@category.packages</sup>
                @end
            </a>
            @end
        </div>
    </div>
</section>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-x-5" id="content-container">
    <div class="hidden relative col-span-3 lg:flex lg:justify-center lg:gap-x-5">
        <h2 class="flex-1 mb-4" onclick="setActive(0)">New packages</h2>
        <h2 class="flex-1 mb-4" onclick="setActive(1)">Most downloaded</h2>
        <h2 class="flex-1 mb-4" onclick="setActive(2)">Recently updated</h2>
    </div>
    <!-- Select on mobile -->
    <h2 class="lg:hidden mb-4 flex items-center">
        <select class="w-full flex-none pr-7 primary appearance-none bg-transparent" id="mobile-content-selector"
            name="content-selector" onchange="onSelectChange()">
            <option selected value="0">New packages</option>
            <option value="1">Most downloaded</option>
            <option value="2">Recently updated</option>
        </select>
        <svg class="flex-none -ml-6 pointer-events-none" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
            <use href="#arrow_up_down"></use>
        </svg>
    </h2>
    <section class="panel content-section-t" data-active id="content-0">
        <div class="flex flex-col" data-package-last-update>
            @for i, pkg in app.new_packages
            @include './components/package.html'
            @if less_than(i, app.new_packages.len - 1)
            <hr />
            @end
            @end
        </div>
    </section>
    <section class="panel content-section-t" id="content-1">
        <div class="flex flex-col" data-package-downloads data-package-stars>
            @for i, pkg in app.most_downloaded_packages
            @include './components/package.html'
            @if less_than(i, app.new_packages.len - 1)
            <hr />
            @end
            @end
        </div>
    </section>
    <section class="panel content-section-t" id="content-2">
        <div class="flex flex-col" data-package-last-update data-package-stars data-package-tag>
            @for i, pkg in app.recently_updated_packages
            @include './components/package.html'
            @if less_than(i, app.new_packages.len - 1)
            <hr />
            @end
            @end
        </div>
    </section>
</div>

<script>
    const container = document.querySelector('#content-container');
    const mobileSelect = document.querySelector('#mobile-content-selector');

    let activeContentIndex = 0;

    // change content in "new packages, most downloaded" sections
    function setActive(index, resizing) {
        if (index != activeContentIndex || resizing) {
            const prev = document.querySelector('#content-' + activeContentIndex);
            prev.removeAttribute('data-active', '');

            const current = document.querySelector('#content-' + index);
            current.setAttribute('data-active', '');

            activeContentIndex = index;
        }
    }

    setActive(0)

    function onSelectChange() {
        const index = mobileSelect.selectedIndex;
        setActive(Number(index));
    }
</script>

@include 'partial/footer.html'