@include 'header.html'

<script>
function delete_package(package_id) {

	fetch("/delete_package/" + package_id, {
  method: "POST",
  headers: {'Content-Type': 'application/json'},
}).then(res => {
	window.location.reload();
	//document.getElementById('package' + package_id).remove() ;
});
}
</script>

<header class="flex gap-4 flex-col md:max-w-3xl mx-auto">
	<h1>
		Package Manager for the <span class="text-primary">V</span> Language
	</h1>

	<p class="text-large text-sub">
		Instantly publish your packages and install them. Become a contributor and enhance our community with your work.
		Use the API to interact and find out more information about available packages.
	</p>
</header>

<div class="my-6 md:max-w-3xl mx-auto flex flex-col md:flex-row gap-4 items-center">
	<a href="/search" class="button primary">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
			<use href="#browse_icon"></use>
		</svg>
		Browse packages
	</a>
	<a href="/new" class="button primary">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
			<use href="#plus_icon"></use>
		</svg>
		Submit a package
	</a>
	<span>@app.format_nr_packages()</span>
</div>

<!--There is no sense to show "Your packages" if user is not logged in.-->
@if app.is_logged_in()
<div class="flex flex-col gap-4">
	<h2 class="text-large font-bold text-center md:text-left">Your packages</h2>
	<div class="flex flex-col gap-4 place-items-center md:grid md:auto-rows-max md:grid-flow-col">
		@for pkg in your_packages
		@include './components/package-card.html'
		@end
	</div>
</div>
@end

<div>
	<h2 class="mb-4 font-bold text-center md:text-left">Popular categories</h2>
	<div class="flex flex-wrap gap-2">
		<a class="category" href="/search?categories=slug">slug<sup>pack</sup></a>
		<a class="category" href="/search?categories=slug">slug<sup>pack</sup></a>
		<a class="category" href="/search?categories=slug">slug<sup>pack</sup></a>

		@for category in categories
		<a class="category" href="/search?categories=@category.slug">@category.slug<sup>@category.packages</sup></a>
		@end
	</div>
</div>

<div class="flex flex-col gap-6 md:grid grid-cols-1 md:gap-0" id="content-container">
	<div class="relative hidden md:flex md:justify-center md:gap-12 md:z-[1] content-selector">
		<button class="content-section-btn" onclick="setActive(0)">New packages</button>
		<button class="content-section-btn"" onclick="setActive(1)">Most downloaded</button>
		<button class="content-section-btn"" onclick="setActive(2)">Recently updated</button>
		<span class="active-border"></span>
	</div>
	<div class="content-section md:ease " id="content-0">
		<h2 class="mb-4 text-center md:hidden">New packages</h2>
		<div class="flex flex-col">
			@for pkg in app.new_packages
			@include './components/package.html'
			@include './components/package.html'
			@include './components/package.html'
			@end
		</div>
	</div>
	<div class="content-section md:ease md:pointer-events-none md:opacity-0" id="content-1">
		<h2 class="mb-4 text-center md:hidden">Most downloaded</h2>
		<div class="flex flex-col">
			@for pkg in app.most_downloaded_packages
			@include './components/package.html'
			@include './components/package.html'
			@end
		</div>
	</div>
	<div class="content-section md:ease md:pointer-events-none md:opacity-0" id="content-2">
		<h2 class="mb-4 text-center md:hidden">Recently updated</h2>
		<div class="flex flex-col">
			@for pkg in app.recently_updated_packages
			@include './components/package.html'
			@end
		</div>
	</div>
</div>

<script>
const indicator = document.querySelector('span.active-border');
const container = document.querySelector('#content-container')
let activeContentIndex = 0;
let currentTimeout = 0

function setActive(index) {
	const el = document.querySelector('.content-selector');
	const activeElement = el.children.item(index);

	indicator.style.width = (activeElement.clientWidth + 10)+'px';
	indicator.style.left = (activeElement.offsetLeft - 5)+'px';

	if (index != activeContentIndex) {
		window.clearTimeout(currentTimeout)

		const prev = document.querySelector('#content-'+activeContentIndex);
		prev.classList.add('md:opacity-0');
		prev.classList.add('md:pointer-events-none');

		currentTimeout = window.setTimeout(() => {
			const current = document.querySelector('#content-'+index);
			current.classList.remove('md:opacity-0');
			current.classList.remove('md:pointer-events-none');

			activeContentIndex = index;
		}, 150)
		
	}
}
setActive(0)

</script>

@include 'footer.html'
