<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="description" content="" />
	<link rel="icon" href="/favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>@app.title</title>
	@include 'assets/styles.html'
</head>

<body class="min-h-screen flex flex-col">
	<header class="flex-shrink-0 h-20 flex justify-center items-center bg-white
	md:border-b md:border-solid md:border-off-white">
		<div class="px-6 w-page h-16 flex gap-4 justify-between items-center">
			<div class="flex-1 flex items-center">
				<a class="clip-zero w-full md:w-16 lg:w-full" href="/">
					<svg xmlns="http://www.w3.org/2000/svg" width="145" height="64">
						<use href="#vpm_logo"></use>
					</svg>
				</a>
			</div>
			<div class="hidden md:flex basis-[36.25rem]">
				@include 'components/searchbar.html'
			</div>
			<div class="flex-1 flex justify-end items-center gap-6">

				@if !app.is_logged_in()
				<a class="button bg-general text-white hover:bg-[#303030] hover:no-underline focus:bg-[#424242] flex justify-center gap-2"
					rel="external" href="@app.login_link()" aria-label="Login with Github">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
						<use href="#github_login_icon"></use>
					</svg>
					Login
				</a>
				@else
				<a href="/users/@app.cur_user.username">
					<img class="w-12 h-12 rounded-full" title="@app.cur_user.username" alt="@app.cur_user.username"
						src="https://github.com/@{app.cur_user.username}.png" />
				</a>
				@end
			</div>
		</div>
	</header>
	<div
		class="md:hidden top-0 sticky z-10 justify-center bg-white h-fit py-2 px-4 border-b border-solid border-off-white">
		@include 'components/searchbar.html'
	</div>

	<main class="flex-1 w-full xl:w-page p-4 md:p-6 flex flex-col gap-12 mx-auto md:pt-20">