<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vpm.vlang.io</title>
    <link rel="icon" href="/vpm.svg">
    <link rel="stylesheet" href="vpm.css">
</head>

<body>
    <div class="header">
        <div class="header-wrapper">
            <a class="logo" href="/">
                <img src="/vpm.svg" />
                <span class="logo-text primary-color">vpm</span>
            </a>

            <form class="search" action="/search">
                <label>
                    <input name="q" type="search" placeholder="Search" autocomplete="on" pattern="[A-Za-z0-9-.]{1,100}"
                        title="Must match rules for github repo naming">
                </label>
            </form>

            <div class="profile">
                <a class="button github-login" href="#login-github">Login</a>
            </div>
        </div>
    </div>

    <main class="content">
        <div class="content-block">
            <h1>
                Search results for «rand» (149)
            </h1>
            <div class="block">
                <div class="panel">
                    <div class="package-entry">
                        <div class="package-entry--content">
                            <div class="package-entry--header">
                                <div class="package-entry--title">
                                    <a class="package-entry--name" href="#package">
                                        treplo
                                    </a>
                                    <span class="package-entry--version">
                                        0.1.0
                                    </span>
                                </div>

                                <span class="package-entry--description">
                                    Logrus like logging lib
                                </span>
                            </div>

                            <div class="package-entry--footer tags">
                                <a class="tag" href="#tag">
                                    logging
                                </a>
                                <a class="tag" href="#tag">
                                    log
                                </a>
                            </div>
                        </div>

                        <div class="package-entry--info">
                            <span class="info info--stars" title="Stars">
                                891
                            </span>
                            <span class="info info--downloads" title="Downloads">
                                12391
                            </span>
                        </div>

                        <a class="package-entry--link" href="#package" tabindex="-1"></a>
                    </div>
                    <div class="package-entry">
                        <div class="package-entry--content">
                            <div class="package-entry--header">
                                <div class="package-entry--title">
                                    <a class="package-entry--name" href="#package">
                                        treplo
                                    </a>
                                    <span class="package-entry--version">
                                        0.1.0
                                    </span>
                                </div>

                                <span class="package-entry--description">
                                    Logrus like logging lib
                                </span>
                            </div>

                            <div class="package-entry--footer tags">
                                <a class="tag" href="#tag">
                                    logging
                                </a>
                                <a class="tag" href="#tag">
                                    log
                                </a>
                            </div>
                        </div>

                        <div class="package-entry--info">
                            <span class="info info--stars" title="Stars">
                                891
                            </span>
                            <span class="info info--downloads" title="Downloads">
                                12391
                            </span>
                        </div>

                        <a class="package-entry--link" href="#package" tabindex="-1"></a>
                    </div>
                    <div class="package-entry">
                        <div class="package-entry--content">
                            <div class="package-entry--header">
                                <div class="package-entry--title">
                                    <a class="package-entry--name" href="#package">
                                        treplo
                                    </a>
                                    <span class="package-entry--version">
                                        0.1.0
                                    </span>
                                </div>

                                <span class="package-entry--description">
                                    Logrus like logging lib
                                </span>
                            </div>

                            <div class="package-entry--footer tags">
                                <a class="tag" href="#tag">
                                    logging
                                </a>
                                <a class="tag" href="#tag">
                                    log
                                </a>
                            </div>
                        </div>

                        <div class="package-entry--info">
                            <span class="info info--stars" title="Stars">
                                891
                            </span>
                            <span class="info info--downloads" title="Downloads">
                                12391
                            </span>
                        </div>

                        <a class="package-entry--link" href="#package" tabindex="-1"></a>
                    </div>
                    <div class="package-entry">
                        <div class="package-entry--content">
                            <div class="package-entry--header">
                                <div class="package-entry--title">
                                    <a class="package-entry--name" href="#package">
                                        treplo
                                    </a>
                                    <span class="package-entry--version">
                                        0.1.0
                                    </span>
                                </div>

                                <span class="package-entry--description">
                                    Logrus like logging lib
                                </span>
                            </div>

                            <div class="package-entry--footer tags">
                                <a class="tag" href="#tag">
                                    logging
                                </a>
                                <a class="tag" href="#tag">
                                    log
                                </a>
                            </div>
                        </div>

                        <div class="package-entry--info">
                            <span class="info info--stars" title="Stars">
                                891
                            </span>
                            <span class="info info--downloads" title="Downloads">
                                12391
                            </span>
                        </div>

                        <a class="package-entry--link" href="#package" tabindex="-1"></a>
                    </div>
                    <div class="package-entry">
                        <div class="package-entry--content">
                            <div class="package-entry--header">
                                <div class="package-entry--title">
                                    <a class="package-entry--name" href="#package">
                                        treplo
                                    </a>
                                    <span class="package-entry--version">
                                        0.1.0
                                    </span>
                                </div>

                                <span class="package-entry--description">
                                    Logrus like logging lib
                                </span>
                            </div>

                            <div class="package-entry--footer tags">
                                <a class="tag" href="#tag">
                                    logging
                                </a>
                                <a class="tag" href="#tag">
                                    log
                                </a>
                            </div>
                        </div>

                        <div class="package-entry--info">
                            <span class="info info--stars" title="Stars">
                                891
                            </span>
                            <span class="info info--downloads" title="Downloads">
                                12391
                            </span>
                        </div>

                        <a class="package-entry--link" href="#package" tabindex="-1"></a>
                    </div>
                    <div class="package-entry">
                        <div class="package-entry--content">
                            <div class="package-entry--header">
                                <div class="package-entry--title">
                                    <a class="package-entry--name" href="#package">
                                        treplo
                                    </a>
                                    <span class="package-entry--version">
                                        0.1.0
                                    </span>
                                </div>

                                <span class="package-entry--description">
                                    Logrus like logging lib
                                </span>
                            </div>

                            <div class="package-entry--footer tags">
                                <a class="tag" href="#tag">
                                    logging
                                </a>
                                <a class="tag" href="#tag">
                                    log
                                </a>
                            </div>
                        </div>

                        <div class="package-entry--info">
                            <span class="info info--stars" title="Stars">
                                891
                            </span>
                            <span class="info info--downloads" title="Downloads">
                                12391
                            </span>
                        </div>

                        <a class="package-entry--link" href="#package" tabindex="-1"></a>
                    </div>
                </div>
                <nav class="panel paginator">
                    <a class="paginator--page" aria-current="page" href="#1">
                        1
                    </a>
                    <a class="paginator--page" href="#2">
                        2
                    </a>
                    <a class="paginator--page" href="#3">
                        3
                    </a>
                    <a class="paginator--page" href="#4">
                        4
                    </a>
                    <a class="paginator--page" href="#5">
                        5
                    </a>
                    <span class="paginator--break">
                        …
                    </span>
                    <a class="paginator--page" href="#7">
                        7
                    </a>
                    <a class="paginator--next" href="#2" title="Next page">

                    </a>
                </nav>
            </div>
        </div>
    </main>

    <div class="footer">
        <div class="footer-wrapper">
            <ul class="links">
                <li><a href="#api">API</a></li>
                <li><a href="#docs">Docs</a></li>
            </ul>

            <ul class="socials">
                <li>
                    <a class="socials--twitter" href="https://twitter.com/v_language" target="_blank"
                        aria-label="Twitter">
                    </a>
                </li>
                <li>
                    <a class="socials--github" href="https://github.com/vlang" target="_blank" aria-label="Github">
                    </a>
                </li>
                <li>
                    <a class="socials--discord" href="https://discord.gg/gVJc6zngFj" target="_blank"
                        aria-label="Discord">
                    </a>
                </li>
            </ul>

            <ul class="links justify-end">
                <li><a href="https://modules.vlang.io">vlib</a></li>
                <li><a href="https://vlang.io">vlang.io</a></li>
            </ul>
        </div>
    </div>
</body>