@include 'header'

.content {
  .title {
    <span>Package Manager for the <span id="v-letter">V</span> Language</span>
  }

  .row {
    .buttons {
      <a id="browse-button" class="button" href="/browse">
        <span class="icon">
          <img src="/browse.svg" width="32" height="32" />
        </span>
        <span>
          Browse packages
        </span>
      </a>
      <a id="new-button" class="button" href="/create">
        <span class="icon">
          <img src="/new.svg" width="32" height="32" />
        </span>
        <span>
          Submit a module
        </span>
      </a>
    }
  
    <span class="packages-nr-info">
      <span class="highlight">
        @nr_packages
      </span>
      <span>
        packages
      </span>
    </span>
  }

  .packages {
    .packages-column {
      <span>New packages</span>
      @for downloadable_package in packages
        <a class="package" href="@downloadable_package.repository">
          .package-info {
            <span class="name">@downloadable_package.name</span>
            <span class="version">@{app.fpackage(downloadable_package.id).version}</span>
          }

          .package-icon {
            <img src="/arrow.svg" height="35" />
          }
        </a>
      @end
    }
  }
}

@include 'footer'