<header class="navbar">
  .inner {
    <a id="logo" href="/" aria-label="Homepage">
      <img src="/logo.svg" height="60" />
    </a>
    <label id="search-bar">
      <img src="/search.svg" width="34" />
      <input id="search-bar-input" aria-labelledby="search-bar" type="text" name="search"
        placeholder="Search packages....">
    </label>
    .account {
      @if app.authorized()
        <a class="new" href="/new">
          <img src="/new.svg" height="32" />
        </a>
        .avatar {
          <img src="@app.user.gh_avatar">
        }
        .header-dropdown {
          .username {
            <span>Signed in as</span>
            <a href="/me">@app.user.gh_login</a>
          }
          .links {
            <a href="/me/modules" class="link">Modules</a>
            <a href="/me/settings" class="link">Settings</a>
            @if app.user.is_admin
              <a href="/admin" class="link">Admin Panel</a>
            @end
          }
          .links {
            <a href="/logout" class="link">Sign out</a>
          }
          <div class="dropdown-hoverzone"></div>
        }
      @else
        <a class="login-button" href="/login">Log in with GitHub</a>
      @end
    }
  }
</header>

<script>
  const search = document.getElementById("search-bar-input");
  search.addEventListener("keypress", (ev) => {
    if (ev.keyCode == 13) {
      ev.preventDefault();
      const query = search.value;
      windows.location.href = "/browse?search=" + query;
    }
  });
</script>