@include 'header'

.content {
  .package-markdown {
    @{app.repo_markdown(current_package.repo_url)}
  }

  .package-aside {
    .package-aside-block {
      <span class="package-aside-block-header">Install</span>
      .package-aside-block-install {
        <span>v install @current_package.name</span>
        <span id="package-copy-install" onclick="copyToClipboard('v install @current_package.name')">
          <img width="16" height="16" src="/copy.svg" />
        </span>
      }
    }

    .package-aside-block {
      <span class="package-aside-block-header">License</span>
      .package-aside-block-info {
        <span>@current_package.license</span>
      }
    }

    .package-aside-block {
      <span class="package-aside-block-header">Last Updated</span>
      .package-aside-block-info {
        <span>@current_package.last_updated</span>
      }
    }

    .package-aside-block {
      <span class="package-aside-block-header">Tags</span>
      .package-aside-block-tags {
        @for tag in current_package.tags
          <a href="@tag.uri">@tag.name</a>
        @end
      }
    }

    .package-aside-block {
      <span class="package-aside-block-header">Categories</span>
      <ul class="package-aside-block-categories">
        @for category in current_package.categories
          <li>
            <a href="@category.uri">@category.name</a>
          </li>
        @end
      </ul>
    }

    .package-aside-block {
      <span class="package-aside-block-header">Versions</span>
      <ul class="package-aside-block-versions">
        @for version in current_package.versions
          <li>
            <a href="@version.uri">@version.name</a>
            <span>@version.date</span>
          </li>
        @end
      </ul>
    }

    .package-aside-block {
      <span class="package-aside-block-header">Dependencies</span>
      <ul class="package-aside-block-dependencies">
        @for dependency in current_package.dependencies
          <li>
            <a href="@dependency.uri">@dependency.name @dependency.version</a>
          </li>
        @end
      </ul>
    }
  }
}

<script>
  const copyToClipboard = str => {
    const el = document.createElement('textarea');
    el.value = str;
    el.setAttribute('readonly', '');
    el.style.position = 'absolute';
    el.style.left = '-9999px';
    document.body.appendChild(el);
    el.select();
    document.execCommand('copy');
    document.body.removeChild(el);
  };
</script>

@include 'footer'