name: CI

on: [push, pull_request]

jobs:
  ubuntu:
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout V
      uses: actions/checkout@v2
      with:
        repository: vlang/v
    - name: Checkout VPM
      uses: actions/checkout@v2
      with:
        path: vpm
    - name: Install dependencies
      run: sudo apt-get install --quiet -y postgresql libpq-dev libssl-dev
    - name: Build V
      run: |
        make
        sudo ./v symlink
    - name: v fmt -verify
      run: |
        cd vpm
        v fmt -verify main.v oauth.v mod.v _user.v
    - name: Build VPM
      run: |
        v -prod .
        ls -lat
